global
    daemon
    maxconn 256
    log 127.0.0.1 local0 notice
    user        haproxy
    group       haproxy

defaults
    log     global
    #mode    tcp
    option  tcplog
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend www
    bind 192.168.56.104:81
    reqadd X-Forwarded-Proto:\ http
    mode http
    timeout client      1m
    default_backend app

backend app 192.168.56.104:81
    mode http
    stats hide-version
    stats uri /stats
    stats auth haproxy:redhat
    balance roundrobin
    server web1 192.168.56.101:80 check
    server web2 192.168.56.102:80 check
